[Unit]
Description=Correct the resolution of the TV

[Service]
user=pauls
Type=oneshot
WorkingDirectory=/home/pauls/PiScript/scripts
ExecStart=/home/pauls/PiScript/scripts/correct_resolution.sh
