[Unit]
Description=VS Code Tunnel Service
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
ExecStart=code tunnel
User=pauls
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target