[Unit]
Description=VS Code Tunnel Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=code tunnel
User=pauls

[Install]
WantedBy=multi-user.target