[Unit]
Description=Turn the tv on in the morning

[Service]
user=pauls
Type=oneshot
WorkingDirectory=/home/pauls/PiScript/scripts
ExecStart=/usr/bin/python3 /home/pauls/PiScript/scripts/turn_on.py
